body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.header {
  width: 100%;
  height: 100px;
  text-align: left;
  background-color: rgb(118, 220, 232);
  padding-left: 35px;
  padding-top: 25px;
  padding-bottom: 50px;
  font: 40px;
  text-align: left;
}

h1 {
  font-family: 'Courgette', cursive;
  font-size: 50px;
  color: white;
  text-align: left;
  padding-left: 150px;
  position: relative;
  bottom: 91px;
}

.directoryContainer {
  /* position: relative; */
  padding-left: 80px;
}

.input {
  position: relative;
  box-sizing: border-box;
  border-radius: 9px;
  font-size: 20px;
  /* margin-left: 85px; */
  margin-top: 50px;
  /* width: 190%; */
  /* width: 135%; */
  width: 590px;
  height: 40px;
  /* margin: 8px 0; */
}

.button {
  display: inline-block;
  position: fixed;
  text-align: center;
  background-color: rgb(118, 220, 232);
  border-radius: 4px;
  border: none;
  color: white;
  padding: 8px 17px;
  cursor: pointer;
  font-size: 15px;
  /* bottom: 4px; */
  /* bottom: 239px; */
  left: 680px;
  top: 229px;
}

.recipecard {
  width: 700px;
  height: 70px;
  border: 1px solid black;
  font-size: 25px;
  text-align: center;
  margin-top: 25px;
  padding-top: 20px;
}

.name {
  font-size: 40px;
}

.ingredients {

}

.instructions {

}

.detailview {
  padding-left: 90px;
  padding-top: 90px;
}

.content {
  display: flex;
  font-size: 20px;
  line-height: 2;
}



